fastcgi_param PHP_VALUE "safe_mode=on \\n safe_mode_gid=on \\n php_flag magic_quotes_gpc=Off \\n php_flag track_vars=On \\n php_flag register_globals=Off \\n php_admin_flag allow_url_fopen=Off \\n php_value include_path=. \\n upload_tmp_dir=/var/lib/phpmyadmin/tmp \\n php_admin_value open_basedir=/usr/share/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/php/php-gettext/:/usr/share/javascript/";

